.comments {
  .reset-center();
  padding-bottom: 30px;
  background-color: @white;
  overflow: hidden;
}

.comments__slider {
  display: flex;
  width: 960px;
}

.comments__slide {
  width: 320px;
  padding-top: 43px;
  padding-bottom: 40px;
  text-transform: none;
  text-align: center;

  .comments__slide-header h3 {
    .reset-center();
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: none;
    color: @black;
  }

  .comments__slide-header span {
    display: none;
  }

  blockquote {
    margin: 0;
    padding: 0 20px;
    line-height: 28px;
    color: @font-color-base;
  }
}

.comments__slide-controls {
  width: 200px;
  .reset-center();
  text-align: center;
}

.comments__slide-toggle {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  margin-right: 10px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;

  &:last-child {
    margin-right: 0;
  }

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    width: 6px;
    height: 6px;
    background-color: #bec2c7;
    border-radius: 50%;
    transform: translate(-3px, -3px);
  }

  &--prev,
  &--next {
    display: none;
  }

  &:hover::before {
    background-color: #7e868f;
  }

  &:active::before {
    background-color: #e9ebec;
  }
}

.comments__slide-toggle--active {
  &::before {
    width: 12px;
    height: 12px;
    background-color: @white;
    border: 3px solid @font-color-base;
    transform: translate(-6px, -6px);
  }

  &:hover::before {
    background-color: @white;
  }
}

@media (min-width: @tablet-width) {
  .comments {
    padding-bottom: 20px;
  }

  .comments__slider {
    width: 1980px;
  }

  .comments__slide {
    display: flex;
    flex-direction: column-reverse;
    width: 660px;
    padding-top: 40px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;

    .comments__slide-header h3 {
      .reset-center();
      margin-bottom: 5px;
      font-weight: 700;
      font-size: 18px;
      line-height: 30px;
      text-transform: none;
      color: @black;
    }

    .comments__slide-header span {
      display: block;
    }

    blockquote {
      .reset();
      margin-bottom: 25px;
      font-size: 18px;
      line-height: 30px;
    }
  }
}

@media (min-width: @desktop-width) {
  .comments {
    position: relative;
    padding-left: 190px;
    padding-right: 190px;
    padding-bottom: 20px;
    background-size: 85px 65px;
    background-image: url(../img/icon-quotes.svg);
    background-position: center 70px;
    background-repeat: no-repeat;
  }

  .comments__slider {
    width: 2840px;
    padding-top: 190px;

  }

  .comments__slide {
    display: flex;
    flex-direction: column-reverse;
    width: 820px;
    margin-right: 190px;
    padding-top: 40px;
    padding-bottom: 25px;

    &--3 {
      margin-right: 0;
    }
  }

  .comments__slide-controls {
    position: absolute;
    left:120px;
    top: 210px;
    display: flex;
    justify-content: space-between;
    width: 960px;
    .reset-center();
    text-align: center;
  }

  .comments__slide-toggle {
    display: none;
  }

  .comments__slide-toggle--prev,
  .comments__slide-toggle--next {
    display: inline-block;
    width: 22px;
    height: 42px;
    background-image: url(../img/left-arrow.png);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0;
    opacity: 0.5;

    &::before {
      display: none;
    }

    &:hover {
      opacity: 1;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .comments__slide-toggle--next {
    background-image: url(../img/right-arrow.png);
  }
}
