.features {
  color: @font-color-base;
}

.features__header {
  padding-top: 43px;
  padding-bottom: 30px;
  background-color: @white;
}

.features__text {
  width: 210px;
  .reset-center();
  margin-bottom: 31px;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: none;

  &--last {
    margin-bottom: 0;
  }
}

.features__list {
  .reset-center();
  padding-top: 67px;
  padding-bottom: 303px;
  padding-left: 20px;
  padding-right: 20px;
  list-style: none;
  text-align: center;
  text-transform: none;
  background-size: auto;
  background-image: url("../img/iphone-screen-mobile@1x.png"), url("../img/bg-triangle-white.svg");
  background-position: center 109%, right top;
  background-repeat: no-repeat;
}

.features__item {
  .reset-center();
  margin-bottom: 14px;
  padding-top: 16px;
}

.features__item h3 {
  .reset-center();
  margin-bottom: 13px;
  font-weight: @font-weight-bold;
  color: @black;

  br {
    display: none;
  }
}

.features__item p {
  .reset-center();
}

.features__footer {
  display: none;
}

@media (min-width: @tablet-width) {
  .features__header {
    padding-top: 50px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .features__text {
    width: 600px;
    margin-bottom: 0;
    font-weight: 300;
    font-size: 40px;
    line-height: 50px;

    &--last {
      width: 340px;
    }
  }

  .features__list {
    position: relative;
    .reset-center();
    padding-top: 67px;
    padding-bottom: 30px;
    padding-left: 330px;
    padding-right: 20px;
    list-style: none;
    text-align: left;
    text-transform: none;
    background-size: auto;
    background-image: url("../img/iphone-screen-3-tablet@1x.png"), url("../img/bg-triangle-white.svg");
    background-position: 20px bottom, right top;
    background-repeat: no-repeat;
  }

  .features__footer {
    display: block;
    padding-top: 85px;
    padding-left: 330px;
    padding-bottom: 85px;
    text-transform: none;
    background-color: @white;
    background-image: url(../img/24.png);
    background-position: 20px center;
    background-repeat: no-repeat;

    h3 {
      width: 175px;
      .reset();
      margin-bottom: 15px;
      font-size: 30px;
      line-height: 40px;
      color: @black;
    }

    p {
      .reset();
      margin-bottom: 10px;
    }

    a {
      text-decoration: underline;
      color: @font-color-link;

      &:hover {
        color: @font-color-link--hover;
      }

      &:active {
        color: @font-color-link--active;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .features__list {
    display: flex;
    justify-content: space-between;
    padding-top: 0;
    padding-left: 130px;
    padding-right: 130px;
    padding-bottom: 0;
    background-size: auto;
    background-image: url("../img/bg-triangle-white.svg");
    background-position: right top;
    background-repeat: no-repeat;
  }

  .features__item {
    width: 310px;
    margin-bottom: 0;
    padding-top: 350px;
    text-align: center;
    background-image: url(../img/iphone-screen-2-desktop@1x.png);
    background-position: center top;
    background-repeat: no-repeat;
  }

  .features__item--first {
    background-image: url(../img/iphone-screen-1-desktop@1x.png);
  }

  .features__item--last {
    background-image: url(../img/iphone-screen-3-desktop@1x.png);
  }

  .features__item h3 {
    width: 222px;
    .reset-center();
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 30px;
    font-weight: @font-weight-bold;
    color: @black;

    br {
      display: inline-block;
    }
  }

  .features__item p {
    width: 240px;
    font-size: 18px;
    line-height: 30px;
  }

  .features__footer {
    width: 960px;
    .reset-center();
    padding-top: 85px;
    padding-left: 380px;
    padding-right: 10px;
    padding-bottom: 85px;
    background-color: transparent;
    background-image: url(../img/24.png);
    background-position: 20px center;
    background-repeat: no-repeat;

    p {
      width: 520px;
      margin-bottom: 10px;
      font-size: 16px;
    }

    a {
      text-decoration: none;
    }
  }
}
