.page-header {
  .reset-center();
  padding-bottom: 395px;
  color: @white;
  background-color: @bg-color-page-header;
  background-image: url(../img/iphone-hand-mobile@1x.png), url(../img/bg-back-mobile@1x.jpg);
  background-position: left bottom, center bottom;
  background-repeat: no-repeat;
}

.page-header__wrapper {
  background-color: #283645;
}

.page-header__logo {
  border-bottom: 1px solid @black;
}

.page-header__wrapper--closed {
  background-color: rgba(0, 0, 0, 0.3);

  .page-header__logo {
    border-bottom: none;
  }

  .page-header__nav {
    display: none;
  }
}
