.page-logo {
  margin: 0;
  padding-top: 22px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 22px;

  a {
    display: inline-block;
    vertical-align: top;
    padding: 0;
  }

  a[href] {
    &:hover svg {
      fill: @font-color-link
    }

    &:active svg {
      fill: #6c7681;
    }
  }
}

.page-logo__img {
  display: block;
  fill: @white;
}

.page-logo__img--tablet {
  display: none;
}

.page-logo__img--desktop {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-logo {
    margin: 0;
    padding-top: 27px;
    padding-bottom: 43px;
  }

  .page-logo__img--mobile {
    display: none;
  }

  .page-logo__img--tablet {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .page-logo {
    padding-left: 0;
    padding-right: 0;
  }

  .page-logo__img--tablet {
    display: none;
  }

  .page-logo__img--desktop {
    display: block;
  }
}
