.page-banner {
  padding-top: 30px;
  padding-bottom: 85px;

  h2 {
    width: 280px;
    .reset-center();
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    text-transform: none;
    text-align: center;
  }
}

.page-banner--form {
  padding-top: 30px;
  padding-bottom: 55px;
}

@media (min-width: @tablet-width) {
  .page-banner {
    padding-top: 70px;
    padding-bottom: 140px;

    h2 {
      width: 380px;
      font-size: 50px;
      line-height: 60px;
    }
  }

  .page-banner--form {
    padding-top: 70px;
    padding-bottom: 78px;

    h2 {
      width: 490px;
      // font-size: 50px;
      // line-height: 60px;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-banner {
    padding-top: 65px;
    padding-bottom: 100px;
  }

  .page-banner--form {
    padding-top: 63px;
    padding-bottom: 100px;

    h2 {
      width: 750px;
      // font-size: 50px;
      // line-height: 60px;
    }
  }
}
