.page-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.page-nav__item {
  background-color: @bg-color-nav-item;
  border-top: 1px solid #485461;
  border-bottom: 1px solid @black;

  &:hover {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
  }

  &--active:hover {
    border-top: 1px solid #485461;
  }

  a {
    display: block;
    padding: 15px 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
  }

  a[href] {
    &:hover {
      color: @mobile-color-link--hover;
    }

    &:active {
      color: #6a757f;
    }
  }
}

@media (min-width: @tablet-width) {

}

@media (min-width: @desktop-width) {
  .page-nav {
    width: 620px;
  }

  .page-nav__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .page-nav__item {
    position: relative;
    padding: 0 1px;
    background-color: transparent;
    border-top: none;
    border-bottom: none;

    &--first {
      text-align: left;
    }

    &--last {
      text-align: right;
    }

    &:hover {
      border-top: none;
    }

    &--active:hover {
      border-top: none;
    }

    &--active::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 1px;
      right: 1px;

      border-bottom: 2px solid @white;
    }

    a {
      display: block;
      padding: 0;
      font-weight: 400;
      font-size: 18px;
      line-height: 18px;
      text-transform: none;
    }
  }
}
