.photo-gallery {
  padding-bottom: 20px;
  color: #283645;
  background-color: @white;
}

.photo-gallery__header {
  padding-top: 45px;
  padding-bottom: 48px;

  p {
    width: 245px;
    .reset-center();
    font-size: 14px;
    line-height: 30px;
    text-transform: none;
    text-align: center;
  }
}


