.photo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
  .reset-center();
  margin-bottom: 20px;
  padding-bottom: 20px;
  color: #283645;
  background-color: @bg-color-body;

  &--last {
    margin-bottom: 0;
  }
}

.photo__link {
  position: relative;
  .reset();

  &--full {
    width: 320px;
    margin-left: -20px;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  span {
    position: absolute;
    top: 0;
    right: 20px;
    width: 140px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    color: @white;
    background-color: @font-color-link;
  }
}

.photo__information {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 12px;
  padding-left: 17px;
  padding-right: 17px;
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
}

.photo__author {
  .reset();
  font-weight: 700;

  span {
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
  }
}

.photo__quote {
  .reset();
  margin-bottom: 10px;
}

.photo__likes {
  display: flex;
  align-items: center;
  margin-top: auto;

  span {
    font-size: 12px;
  }

  svg {
    margin-right: 18px;
    fill: @font-color-link;
  }
}

.photo__likes-button {
  .reset();
  margin-right: 4px;
  font-size: 12px;
  line-height: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  span {
    text-transform: uppercase;
    color: @font-color-link;
  }

  &:hover {
    span {
      color: @font-color-link--hover;
    }
  }

  &:active {
    span {
      color: @font-color-link--active;
    }
  }
}

.photo__likes-counter {
  color: @font-color-link;
}

@media (min-width: @tablet-width) {
  .photo {
    width: 300px;
    margin-bottom: 50px;
    // padding-bottom: 19px;
    margin-left: 20px;
    margin-right: 0;
  }

  .photo--first {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
  }

  .photo__information {
    display: flex;
    flex-direction: column;
  }

  .photo__quote {

  }

  .photo__likes {
    svg {
      order: 3;
      margin-left: auto;
      margin-right: 11px;
    }
  }

  .photo__information--first {
    flex-direction: row;
    flex-wrap: wrap;

    .photo__author {
      order: 1;
    }

    .photo__quote {
      order: 3;
      width: 100%;
    }

    .photo__likes {
      order: 2;
      width: 150px;
      margin-left: auto;
    }
  }
}

@media (min-width: @desktop-width) {

}
