.photo-post {
  background-color: @white;
}

.photo-post__header {
  padding-top: 18px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 42px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  text-transform: none;
  color: #283645;
  background-color: @white;

  p {
    .reset();
  }
}

.photo-post__change {
  padding-top: 20px;
  padding-bottom: 28px;
  background-color: @bg-color-body;
  border-bottom: 1px solid #dddfe0;
}

.photo-post__link-image {
  display: block;

  img {
    display: block;
    width: 280px;
    .center();
  }
}

.photo-post__control {
  padding-top: 42px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.photo-post__button-wrapper {
  display: flex;
  margin-bottom: 36px;
}

.photo-post__button {
  .reset();
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.photo-post__button--cut {
  margin-left: 36px;
  margin-right: 35px;
}

.photo-post__button--saturation {
  height: 44px;
  margin-right: 40px;
}

.photo-post__button--contrast {
  margin-right: 45px;
}

.photo-post__button-icon {
  fill: @icon-color;
}

.photo-post__button:hover {
  .photo-post__button-icon {
    fill: @icon-color--hover;
  }
}

.photo-post__button:active {
  .photo-post__button-icon {
    fill: @icon-color--active;
  }
}

.photo-post__button--active,
.photo-post__button--active:hover {
  .photo-post__button-icon {
    fill: @icon-color--active;
  }
}

.photo-post__range {
  position: relative;
  display: none;
  width: 100%;

  &--active {
    display: block;
  }
}

.photo-post__range--active {
  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 18px;
    right: 18px;
    height: 2px;
    background-color: #283645;
    z-index: 10;
  }

  &::after {
    position: absolute;
    content: "";
    top: 0;
    right: 51px;
    width: 14px;
    height: 14px;
    background-color: @white;
    border: 2px solid @range-color;
    border-radius: 50%;
    z-index: 11;
    transform: translateY(-6px);
    cursor: pointer;
  }

  &:active::after {
    background-color: @range-color--active;
  }
}

.photo-post__footer {
  padding-top: 38px;
  padding-bottom: 41px;
}

.photo-post__footer-button {
  display: block;
  width: 280px;
  .reset-center();
  padding-top: 14px;
  padding-bottom: 15px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: @font-color-link;
  background-color: @white;
  border: 3px solid @font-color-link;
  border-radius: 30px;

  &:hover {
    color: @white;
    background-color: @font-color-link;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.photo-post__footer-button--upload {
  margin-bottom: 13px;
}

.photo-post__footer-button--cancel {
  color: #dddfe0;
  border: 3px solid #dddfe0;

  &:hover {
    color: #b5b9be;
    background-color: @white;
    border-color: #b5b9be;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #b5b9be;
  }
}

@media (min-width: @tablet-width) {
  .photo-post {
    position: relative;
  }

  .photo-post__header {
    padding-top: 28px;
    padding-bottom: 67px;
    font-size: 18px;
  }

  .photo-post__change {
    display: flex;
    padding-top: 42px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 53px;
    border-bottom: none;
  }

  .photo-post__link-image {
    width: 300px;
    height: 400px;
    margin-top: 16px;
    overflow: hidden;

    img {
      width: 100%;
      height: 400px;
      object-fit: cover;
    }
  }

  .photo-post__control {
    position: relative;
    width: 300px;
    margin-left: 20px;
    padding-top: 0px;
    padding-left: 25px;
    padding-right: 0px;
    padding-bottom: 10px;
    // border: 1px solid yellow;
  }

  .photo-post__button-wrapper {
    position: absolute;
    flex-direction: column;
    top: 23px;
    margin-bottom: 0px;
    // border: 1px solid blue;
  }

  .photo-post__button {
    .reset();
    background-color: transparent;
    border: none;
    cursor: pointer;
    // border: 1px solid yellowgreen;
  }

  .photo-post__button--cut {
    .reset();
    // margin-left: 36px;
    // margin-right: 35px;
    margin-bottom: 42px;
  }

  .photo-post__button--saturation {
    .reset();
    // margin-right: 40px;
    margin-bottom: 37px;
    margin-left: 2px;

    .photo-post__button-icon {
      width: 25px;
      height: 22px;
    }
  }

  .photo-post__button--contrast {
    .reset();
    // margin-right: 45px;
    margin-left: 2px;

    .photo-post__button-icon {
      width: 16px;
      height: 16px;
    }
  }

  .photo-post__button-icon {
    width: 22px;
    height: 22px;
    fill: @icon-color--active;
  }

  .photo-post__range {
    display: block;
    height: 72px;
    border-bottom: 1px solid #cccccc;
  }

  .photo-post__range,
  .photo-post__range--active {
    &::before {
      position: absolute;
      content: "";
      top: 34px;
      left: 56px;
      right: 18px;
      height: 2px;
      background-color: #283645;
      z-index: 10;
    }

    &::after {
      position: absolute;
      content: "";
      top: 34px;
      right: 51px;
      width: 14px;
      height: 14px;
      background-color: @white;
      border: 2px solid @range-color;
      border-radius: 50%;
      z-index: 11;
      transform: translateY(-6px);
      cursor: pointer;
    }

    &:active::after {
      background-color: @range-color--active;
    }
  }

  .photo-post__range--cut {
    &::after {
      right: 58px;
    }
  }

  .photo-post__range--saturation {
    &::after {
      right: 180px;
    }
  }

  .photo-post__range--contrast {
    &::after {
      right: 108px;
    }
  }

  .photo-post__footer {
    position: absolute;
    bottom: 55px;
    right: 15px;
    width: 300px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .photo-post__footer-button {
    width: 260px;
  }

  .photo-post__footer-button--upload {
    margin-bottom: 26px;
  }
}

@media (min-width: @desktop-width) {
  .photo-post {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 25px;
  }

  .photo-post__header {
    padding-top: 5px;
    padding-bottom: 67px;
    font-size: 18px;
  }

  .photo-post__change {
    display: flex;
    padding-top: 57px;
    padding-left: 80px;
    padding-right: 60px;
    padding-bottom: 57px;
  }

  .photo-post__link-image {
    width: 300px;
    height: 400px;
    margin-top: 0px;
    overflow: hidden;

    img {
      width: 100%;
      height: 400px;
      object-fit: cover;
    }
  }

  .photo-post__control {
    width: 410px;
    margin-top: -15px;
    margin-left: auto;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }

  .photo-post__button-wrapper {
    position: absolute;
    flex-direction: column;
    top: 10px;
    left: -5px;
    margin-bottom: 0px;
  }

  .photo-post__button-icon {
    width: 49px;
    height: 44px;
  }

  .photo-post__button {
    .reset();
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .photo-post__button--cut {
    .reset();
    margin-bottom: 30px;
  }

  .photo-post__button--saturation {
    .reset();
    margin-bottom: 28px;
    margin-left: 2px;

    .photo-post__button-icon {
      width: 49px;
      height: 42px;
    }
  }

  .photo-post__button--contrast {
    .reset();
    margin-left: 0px;

    .photo-post__button-icon {
      width: 34px;
      height: 34px;
    }
  }

  .photo-post__range {
    height: 71px;
  }

  .photo-post__range,
  .photo-post__range--active {
    &::before {
      left: 93px;
      right: 30px;
    }
  }

  .photo-post__range--cut {
    &::after {
      right: 235px;
    }
  }

  .photo-post__range--saturation {
    &::after {
      right: 58px;
    }
  }

  .photo-post__range--contrast {
    &::after {
      right: 144px;
    }
  }

  .photo-post__footer {
    position: absolute;
    bottom: 57px;
    right: 70px;
    width: 410px;
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
  }

  .photo-post__footer-button {
    width: 183px;
  }

  .photo-post__footer-button--upload {
    margin-bottom: 0px;
    margin-right: 44px;
  }
}
