@mobile-width: 320px;
@tablet-width: 660px;
@desktop-width: 1200px;

@tablet-max-width: (@desktop-width - 1);
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;

@font-family-base: "Open Sans", "Arial", sans-serif;
@font-weight-light: 300;
@font-weight-base: 400;
@font-weight-bold: 700;
@font-size-base: 14px;
@line-height-base: 24px;

@black: #000000;
@white: #ffffff;
@pink: #d22856;

@font-color-base: #283645;
@font-color-secondary: @white;
@font-color-heading: @white;

@font-color-link: #d22856;
@font-color-link--hover: #283645;
@font-color-link--active: #cdcfd1;

@mobile-color-link: @white;
@mobile-color-link--hover: #d22856;
@mobile-color-link--active: fade(#d22856, 30%);

@logo-color: @white;
@logo-color--hover: #d22856;
@logo-color--active: fade(@white, 30%);

@bg-color-body: #f2f2f2;
@bg-color-page-header: #2b3b4b;
@bg-color-nav-item: #283645;

@icon-color: #b5b9be;
@icon-color--hover: #8d949b;
@icon-color--active: #d22856;

@range-color: #d22856;
@range-color--active: #d22856;

@label-color: #d22856;

//@bg-color-page-logo: fade(@black, 30%);

/*
@bg-color-button: transparent;
@bg-color-button--hover: #ffffff;
@bg-color-button--active: #ffffff;
@bg-color-button--disabled: @border-color-photo;

@mobile: ~"(min-width: @{mobile-width})";
@tablet: ~"(min-width: @{tablet-width})";
@desktop: ~"(min-width: @{desktop-width})";

@tablet-only: ~"(max-width: @{tablet-max-width})";

@retina: ~"(min-resolution: @{retina-dpi})";

@bg-color-body: #f2f2f2;
@bg-color-back: #ddebf4;
@bg-color-map: #eeeeee;
@bg-color-video-icon: #5c6870;
@bg-color-photo: #eaeaea;
@bg-color-checkbox--active: #d5d5d5;
@bg-color-striked: #dbdbdb;
@border-color-item: #d6d6d6;
@border-color-photo: #e5e5e5;
*/
